.sendForm {
    display: flex;
    justify-content: center;
    align-items: center;
}

.textarea {
    width: 976px;
    min-height: 40px;
    border-radius: 20px;
    resize: none;
    overflow: hidden;
    overflow-y: hidden;
    padding: 12px;
    padding-left: 24px;
    outline: none;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: left;

}


.button {
    width: 120px;
    height: 40px;
    border-radius: 20px;
    background-color: #0066CC;
    color: #fff;
    cursor: pointer;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: center;
    margin-left: 44px;
}

.button:hover {
    opacity: 0.9;
}

.button:active {
    opacity: 0.5;
}